.yx-big{ background:#f14949; padding-bottom:10px;}
.market-day{ text-align:center; color:#fff; font-size:3rem; padding-bottom:40px; }
.market-day p.dday span{ font-size:7.5rem;}
.dtime{  margin-bottom:35px; margin-top:10px;}
.dtime span{ background:#c6343b; border-radius:.8rem; padding:8px 10px; margin:0 5px;}
.btn-yx{ background:#ffea34; border:5px solid #fbb939; color:#724614; border-top:0px; width:80%; font-weight:bold;height:5.2rem;font-size:2.2rem;}
.market-intro{ color:#f7e79e;}
.rec-btn{ position:absolute; left:10%; bottom:14%; background:#f14949; color:#fee81f; border:5px solid #c6343b;border-top:0px;}
.rec-big{ position:relative;}
.market-intro{ margin:20px; background:#fff8ce; border-radius:10px;color:#724614; padding:15px; line-height:22px; font-size:16px;}
.market-intro h2{ text-align:center; background:#ffca00; font-size:20px;  margin:0 auto; border-radius:10px; line-height:50px; margin-bottom:10px;}
.market-intro p{ padding:5px 0;}
.phoneimg{ width:25px; position:absolute; margin:10px 0 0 0;}
.m-close{ width:42px; height:42px; position:absolute; right:22%; top:-15px;}
.m-close img{ width:100%;}
.rec-num{ text-align:center; position:absolute; width:100%; bottom:15%; color:#e41233; font-size:18px; text-shadow:1px 1px 1px #fff;}
.rec-num b{ font-size:32px;}
.t-money{ padding:10px 0;}
.rlist{ background:#e83d3b; margin-top:10px; padding:20px;}
.rlist table td{ text-align:center; padding:5px 0;}
.tr1{ background:#c43130; font-size:18px; font-weight:bold;}
.rlist table .tr1 td{ padding:8px 0;}
.rlist table .tr1{ margin-bottom:10px;}
.rlist h2{text-align:center; background:rgba(0,0,0,0.2); font-size:18px;  margin:0 auto; border-radius:5px; line-height:45px; margin-bottom:10px; color:#f4e430;}
.rtable{ background:#f84442; padding-bottom:10px;}
.bg-red{ background:rgba(0,0,0,0.2); border-radius:10px;}
.name-wrap .main_input .input_box input{padding-left:6rem; }
