.yx-big{ background:#f14949; padding-bottom:10px;}
.market-day{ text-align:center; color:#fff; font-size:3rem; padding-bottom:40px; }
.market-day p.dday span{ font-size:7.5rem;}
.dtime{  margin-bottom:35px; margin-top:10px;}
.dtime span{ background:#c6343b; border-radius:.8rem; padding:8px 10px; margin:0 5px;}
.btn-yx{ background:#ffea34; border:5px solid #fbb939; color:#724614; border-top:0px; width:80%; font-weight:bold;height:5.2rem;font-size:2.2rem;}
.market-intro{ color:#f7e79e;}
.rec-btn{ background:#f14949; color:#fee81f; border:1px solid #f14949; margin-right:3%;}
.rec-big{ position:relative;}
.rec-btn-div{ position:absolute; width:100%; bottom:13%; text-align:center; }
.market-intro{ margin:20px; background:#fff8ce; border-radius:10px;color:#724614; padding:15px; line-height:22px; font-size:16px;}
.market-intro h2{ text-align:center; background:#ffea34; font-size:20px;  margin:0 auto; border-radius:10px; line-height:50px; margin-bottom:10px;}
.market-intro p{ padding:5px 0;}
.phoneimg{ width:25px; position:absolute; margin:15px 0 0 0;}
.m-close{ width:42px; height:42px; position:absolute; right:22%; top:-15px;}
.m-close img{ width:100%;}
.rec-num{ text-align:center; position:absolute; width:100%; bottom:15%; color:#e41233; font-size:18px; text-shadow:1px 1px 1px #fff;}
.detail-num .rec-num{ top:30%; color:#807756; font-size:22px;}
.rec-num b{ font-size:32px;}
.t-money{ padding:10px 0;}
.rlist{ background:#e83d3b;  padding:20px;}
.rlist table td{ text-align:center; padding:5px 0;}
.tr1{  font-size:18px; color:#f4e430; }
.rlist h2{ border-top:1px solid #f4e430; text-align:center; line-height:45px; height:45px; position:relative; margin:30px 0 10px 0;}
.rlist h2 span{font-size:20px;width:160px; font-weight:bold; background:#ea3b40; top:-20px; color:#f4e430; position:absolute; display:block; left:50%; margin-left:-80px; border:3px solid #f4e430; border-radius:22px;}
.rlist h2 i{ display:block; position:absolute; width:12px; height:12px; border-radius:50%; top:-6px; background:#f4e430;}
.rlist h2 i:first-child{ right:0px;}
.bg-red{ background:#c4040f; border-radius:10px;}
.name-wrap .main_input .input_box input{padding-left:9rem; }
.cardlist a{ display:block; border-bottom:1px solid #e6e6e6; padding:5px 10px; position:relative;}
.cardlist a img{ width:42px; margin-right:10px;}
.pop_bank{ width:100%;left:0;top:10%;background-color:#fff;z-index:1001; display:none;}
.arrow-right{ position:absolute; right:20px; margin-top:20px;}
.name-wrap .main_input .hl{width: 10rem;}
.bank-box{padding-left:9rem; box-sizing:border-box;
-moz-box-sizing:border-box; 
-webkit-box-sizing:border-box;}
.bank-box img{ width:32px; margin-right:5px;}
.grabredbg{ background:url(../images/redpaketbg01.jpg) no-repeat 0% 0%; background-size:100%; background-color:#ef0b29}
.grabrebtn{width:100%; height:auto; padding:5px 0; background-color:rgba(255,255,255,0.5); position:fixed; left:0px; bottom:0px; text-align:center; z-index:1}
.grabmask{width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:fixed;z-index:2; top:0px; left:0px; display:none}
.maskcontain{height:auto;}
.maskcontain:after,.maskoperate:after{content:""; clear:both; display:block}
.maskclose{position:absolute; }
.maskoperate{position:absolute; width:80%; left:10%; height:auto;}
.maskspan{color:#ed3958; line-height:200%;}

.btn001{width:90%; background-color:#ffb400; height:45px; border-radius:35px; color:#fff; line-height:45px; vertical-align:middle; text-align:center; font-size:16px; margin:0 auto;}
.btn002{width:90%; background-color:#ff671c; height:45px; border-radius:35px; color:#fff; line-height:45px; vertical-align:middle; text-align:center; font-size:16px; margin:0 auto;}
.btn-yellow{background:#ffea34; border-bottom:5px solid #fbb939; color:#724614; height:5.2rem;font-size:2rem;}

/*夜间模式样式*/
.night-big{ background:#3a3e6d; padding-bottom:10px;}
.night-big .dtime span{ background:#202346;}
.night-big .market-intro{ background:#d1d5f2; color:#5c5d66;}
.night-big .market-intro h2{ background:#4d56a3; color:#ffd801; }
.night-big .rec-btn{ background:#f44841; color:#fde644; border:1px solid #f44841;}


.night-modle{ background:#30265a;}
.night-modle .rlist{ background:#30265a;} 
.night-modle .bg-red{ background:#5e5493;}
.night-modle .rlist h2 span{ background:#342e54;}
.night-modle .rec-num{ color:#fed559;text-shadow:1px 1px 1px #32285c;}





.agentbg{ background:url(../images/redpaketbg03.jpg) repeat-y 50% 0%; background-size:100%}
.i01{ position:relative;}
.i02{ position:relative; float:right}
.i05{ position:relative; float:right}
.i07{ position:relative; float:right}
.availheight{height:60px; clear:both}
.nominate{width:60%; height:50px; background-color:#d22d3e; border-radius:5px; margin:0 auto; text-align:center; line-height:50px; vertical-align:middle; font-size:18px; color:#FFF}
.maskguide{ width:250px; height:250px; background:url(../images/guide.png) no-repeat 0% 0%; background-size:250px; position:fixed; z-index:30; top:0px; right:15px; display:none;}
.maskzz{width:100%; height:100%; background-color:rgba(0,0,0,0.8); position:fixed;z-index:2; top:0px; left:0px; display:none}

#pro,#city{ border:1px solid #fff; background:none; font-family:"arial,微软雅黑,sans-serif"; font-size:1.6rem; width:10.5rem; color:#666;}
.pay_text{ text-align:center; font-size:14pt; padding-top:70px; text-shadow: -1px 0px 1px #fff;}
.income{ background:#fff; border-bottom:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin-bottom:40px;}
.income .border_l{ border-left:1px solid #f0f0f0;}
.income .border_b{ border-bottom:1px solid #f0f0f0;}
.income .fl,.income .fr{ padding:10px 30px;line-height:25px; }
.income .fs_18{ color:#666; font-weight:bold; font-size:20px;}
.income h4{ color:#909090;}
.cash_count { background:#ff9523;
	color: #fff; text-align:center; padding:40px 0;
	font-size: 14px;
	line-height:50px;
}
.count_number {
	font-size: 50px;
	line-height: 50px;
}
.pop-rule{ width:80%;margin-left:-40%; background:#ffdc32; color:#724614; border-radius:10px;}
.pop-rule .m-close{ right:-10px;}
.rule-content{ font-size:15px; line-height:22px; }
.rule-content ul{ padding:10px 30px 30px 30px;}
.rule-content ul li{ padding:5px 0;}
.rule-content ul li i{ display:inline-block; background:#e94e29; width:20px; height:20px; line-height:20px; text-align:center; border-radius:50%; margin-right:5px; color:#fff; font-style:normal;}
.pop-rule h2{ height:45px; line-height:45px;  text-align:center; font-size:22px; padding-top:20px;}
.dcount{ border:2px dashed #f6de88; margin:20px 80px; padding:10px 0; color:#ec3e3f;}
.dcount b{ font-size:50px;}
.detail-wrap{ background:#ff5656;}
.detail-wrap .pro_table{border-top:0; padding:0 30px;}
.detail-wrap .pro_table li{ color:#fff;border-bottom:1px solid #e94c4c; line-height:20px;}
.detail-wrap .pro_table .fr{ color:#ffe54b;}
.detail-wrap .pro_table .fr .fc_orange{ color:#ffe54b; font-size:22px; padding-right:3px;}
.fltitle{ color:#fff; font-size:16px; line-height:22px;}
.fltime{ font-size:12px; color:#ffb797;}
.detail-wrap .btn_orange{ background:#ffdf00; color:#e46332; border-bottom:5px solid #c33c34; height:5.6rem; border-radius:10px;}



